# Database credentials
POSTGRES_USER=
POSTGRES_PASSWORD=

# Spring Security JWT Secret
JWT_SECRET=

# Gemini API Key (Required for AI card generation)
GEMINI_API_KEY=

# Production API URL for Frontend
PRODUCTION_API_URL=
