# Database credentials
POSTGRES_DB=deck-lab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Spring
JWT_SECRET=change_this
COOKIE_SAME_SITE=Lax
COOKIE_SECURE=false
ALLOWED_CORS_ORIGINS=http://localhost:5173,http://localhost:8080,http://127.0.0.1:5173
IMAGE_UPLOAD_DIR=data/images
APP_SEED_CARDS=false
APP_SEED_USERS=false
APP_SEED_PASSWORD=this_too

# Gemini API Key
GEMINI_API_KEY=insert_api_key

# Production API URL
VITE_API_URL=http://localhost:8080
